.advantages {
    background-color: #f6f6f6;
    padding: 70px 0 80px 0;
    &__header {
        text-align: center;
        font-size: 30px;
        font-weight: 500;
        color: #0d0d0d;
    }
    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    &__item {
        width: 250px;
        text-align: center;
        &-icon {
            padding-top: 65px;
            img {
                display: block;
                margin: 0 auto;
            }
        }
        &-header {
            padding-top: 38px;
            font-size: 18px;
            font-weight: 700;
            color: #0d0d0d;
        }
        &-descr {
            font-size: 14px;
            font-weight: 400;
            color: #0d0d0d;
            padding-top: 26px;
            a {
                color: red;
            }
        }
    }
}

@media (max-width: 768px) {
    .advantages {
        &__header {
            font-size: 36px;
        }
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }
        &__item {
            width: 400px;
            &-icon {
                img {
                    width: 150px;
                    height: 150px;
                }
            }
            &-header {
                font-size: 40px;
            }
            &-descr {
                font-size: 24px;
            }
        }
    }
}