.carousel {
    padding: 81px 0;
    &__inner {
        position: relative;
        width: 750px;
        margin: 0 auto;
    }
    .slick-prev, .slick-next {
        border: none;
        background-color: #fff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        img {
            width: 31px;
            height: 50px;
        }
    }
    .slick-next {
        left: auto;
        right: -66px;
    }
    .slick-dots {
        display: flex;
        justify-content: center;
        list-style-type: none;
        button {
            width: 40px;
            height: 40px;
            border-radius: 100%;
            background-color: #fff;
            margin-top: 15px;
            margin-right: 5px;
            margin-left: 5px;
            
            box-shadow: 4px 4px 4px rgba(0, 0, 0, .4);
            text-indent: -9999px;
            transition: 0.4s all;
        }
        li.slick-active button {
            background-color: $main-color;
            border: none;
            box-shadow: 4px 4px 8px rgba(256, 0, 0, .6);
        }
    }   
}

