.consultation {
    min-height: 680px;
    padding: 100px 0 92px 0;
    background: url("../../img/bg2.png") center center/cover no-repeat;
    &__descr {
        color: #fff;
        font-size: 20px;
        font-weight: 500;
    }
    .error {
        border: 1px solid red;
    }
    label.error {
        color: white;
        border: none;
        margin-bottom: 15px;
    }
    
}

@media (max-width: 768px) {
    .consultation {
        text-align: center;
        padding: 0 20px;
        &__descr {
            font-size: 28px;
        }
    }
}