.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .56);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 379px;
    min-height: 400px;
    background-color: #f2f2f2;
    padding: 38px 40px;
    &__close {
        position: absolute;
        top: 0;
        right: -40px;
        font-size: 40px;
        line-height: 21px;
        color: $main-color;
    }
    &__subtitle {
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
    }
    &__description {
        font-size: 14px;
        font-weight: 500;
        text-align: center;
    }
}

#consultation, #order, #thanks {
    display: none;
}