.promo {
    min-height: 650px;
    padding: 21px 0 93px 0;
    background: url('../img/bg1.png') center center/cover no-repeat;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 90px;
    }
    &__header {
        font-size: 42px;
        line-height: 42px;
        font-weight: 700px;
        text-transform: uppercase;
        color: #fff;
    }
    &__subheader {
        margin-top: 17px;
        font-size: 24px;
        font-weight: 500;
        color: #fff;
        text-transform: uppercase;
        line-height: 24px;
    }
    &__icons {
        margin-top: 65px;
        width: 425px;
        display: flex;
        justify-content: space-between;
    }
    &__icon {
        width: 110px;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        color: #fff;
        img {
            display: block;
            margin: 0 auto; 
            margin-bottom: 20px;
        }
    }
    &__link {
        font-size: 16px;
        font-weight: 500;
        color: #fff;
        margin-top: 18px;
        a {
            text-decoration: underline;
            text-transform: uppercase;
            color: #fff;
        }
    }
}

@media (max-width: 768px) {
    .promo {
        &__wrapper {
            display: flex;
            align-items: center;
        }
        &__header, &__subheader {
            text-align: center;
        }
        &__icons {
            width: 400px;
            display: flex;
            flex-direction: column;
        }
        &__icon {
            margin: 0 auto;
            font-size: 28px;
            width: 180px;
            padding-top: 60px;
            img {
                width: 150px;
                height: 150px;
            }
        }
        &__link {
            font-size: 28px;
        }
    }
}