.title {
    color: #0d0d0d;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    &_left {
        font-size: 36px;
        text-align: left;
        color: #fff;
        font-weight: 500;
    }
}

@media (max-width: 426px) {
    .title {
        &_left {
            text-align: center;
            font-size: 32px;
            padding-top: 60px;
        }
    }
}